@media (max-width: 1200px) {
	.promo {
		.header {
			&__contacts {
				a {
					font-size: 16px;
				}
			}
		}
		&__title {
			font-size: 30px;
		}
		&__subtitle {
			font-size: 20px;
		}
		.button_main {
			width: 250px;
			height: 40px;
			font-size: 15px;
		}
	}
	.containers_title {
		font-size: 26px;
	}

	.advantages {
		&__item-title {
			font-size: 17px;
		}
	}
	.consultation {
		min-height: 600px;
		padding: 70px 0 70px 0;
		&__title {
			font-size: 26px;
			width: 700px;
		}
		&__subtitle {
			font-size: 16px;
			width: 340px;
		}
		&__form {
			input, button {
				width: 291px;
				height: 45px;
				font-size: 14px;
			}
		}
	}
	.slider {
		min-height: 630px;
		padding: 50px 0 50px 0;
		&__images{
			width: 550px;
		}
	}
}

@media (max-width: 991px) {
	.promo {
		&__wraper {
			align-items: center;
		}
	}
	.consultation {
		min-height: 550px;
		padding: 60px 0 60px 60px;
		&__form {
			input, button {
				width: 267px;
				height: 40px;
			}
		}
	}
	.slider {
		min-height: 550px;
		&__images {
			width: 500px;
			height: 450px;
		}
	}
	.catalog {
		&__items {
			justify-content: center;
		}
		&__item {
			width: 250px;
			&-buy {
				width: 103px;
				height: 36px;
			}
		}
	}
}

@media (max-width: 767px) {
	.promo {
		.header__title {
			display: none;
		}
	}
	.advantages {
		&__title {
			font-size: 26px;
		}
	}
	.consultation {
		min-height: 525px;
		padding-left: 40px;
		&__title {
			width: auto;
			line-height: 40px;
		}
		&__subtitle {
			margin-bottom: 18px;
		}
	}
	.slider {
		min-height: 430px;
		&__images {
			width: 374px;
			height: 331px;
		}
		&__control {
			display: none;
		}
	}
	.catalog {
		.title {
			font-size: 26px;
		}
		&__tabs {
			margin: 31px 0 35px 0;
		}
		&__tab {
			width: 195px;
			height: 41px;
			font-size: 16px;
		}
		&__item {
			min-height: 400px;
			&-buy {
				width: 97px;
				height: 32px;
			}
			&-img {
				margin: 10px auto 10px auto;
			}
			hr {
				margin: 10px auto 10px auto;
			}
			&-price {
				font-size: 18px;
			}
		}
	}
	.review {
		.title {
			font-size: 26px;
		}
	}
}

@media (max-width: 575px) {
	.promo {
		padding-bottom: 20px;
		.header {
			align-items: flex-end;
			&__logo {
				img {
					width: 95%;
				}
			}
			&__contacts {
				a {
					font-size: 14px;
				}
				.button {
					width: 140px;
					height: 26px;
					margin: 0;
				}
			}
		}
	
		&__details {
				.button {
					width: 140px;
					height: 26px;
					margin: 0;
				}
			}
		&__details {
			margin: 30px 0 90px 0;
		}

		&__item {
			margin: 10px 0 10px 0;
			.promo__item-details {
				width: 108px;
				font-size: 13px;
			}
		}
		&__title {
			font-size: 24px;
			text-align: center;
		}
		&__subtitle {
			font-size: 18px;
			text-align: center;
		}
		.button_main {
			width: 224px;
			height: 34px;
			font-size: 14px;
		}
		&__call {
			font-size: 14px;
		}
	}
	.advantages {
		padding: 53px 0 30px 0;
		&__title {
			font-size: 20px;
		}
		&__details-wraper {
			flex-direction: column;
			align-items: center;
		}
		&__details-item {
			margin-bottom: 30px;
		}
	}
	.consultation {
		padding: 40px 0 40px 0;
		&__title, &__subtitle {
			position: relative;
			
			
			text-align: center;
		}
		&__title {
			width: 100%;
			font-size: 20px;
			margin-bottom: 15px;
		}
		&__subtitle {
			width: 80%;
			left: 10%;
			margin-bottom: 27px;
		}
		&__form {
			align-items: center;
			
			input, button {
				width: 218px;
				height: 35px;
			}
			input {
				text-align: center;
			}
		}
	}

	.slider {
		min-height: 310px;
		&__images {
			width: 270px;
			height: 207px;
		}
	}
	.catalog {
		.title {
			font-size: 20px;
		}
		&__tabs {
			padding: 0;
		}
		&__tab {
			font-size: 12px;
		}
	}
	.review {
		.title {
			font-size: 20px;
		}
		&__item {
			flex-direction: column;
			align-items: center;
			img {
				margin-bottom: 20px;
			}
		}
		&__details {
			margin: 0;
		}
		&__name {
			text-align: center;
		}
		&__descr {
			text-align: center;
			margin-bottom: 10px;
		}
	}
}